[num-threads]
6

[buffer-size]
10000

[batch-size]
128

[max-length]
256

[train-steps]
10000

[initializer]
uniform

[device-list]
0
1
2
3

[learning-rate]
1.0

[keep-checkpoint-max]
20

[keep-top-checkpoint-max]
5

[eval-steps]
2000

[eval-batch-size]
32

[alpha]
0.6

[save-checkpoint-steps]
1000
